root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = true
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>Icon</key>
			<data>
			iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAAXNS
			R0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGAUExURf///zUxjgCr
			6wCU3QCK1ACl6isniQGx7QCZ3wB0wQCc5ACG0QB5xXLL83rN9IvS
			9QBxv2vJ84XQ9ACO2IDP9ACCzQCR2pLU9VrF8WDG8gB+yQm07ZjW
			9hq47hG27lPD8Z3Y9kC/8KLa96fb99nr9cLg8uzy9rjc8sDl+ePz
			/EA8lNHn9OXv9UtIm8vk8+Pr9JORw2Jfp3Btr1dUoQmu68fG4LLY
			8K+t0uTj8JzR76vX8IiGvava9ZHO76LV8dzc7KGgy4jE6XC45by6
			2YG85X57t16z49PS5vT0+ZbH6XjB6Sar5KjR7juu5Eu26O3t9fHx
			98rm9y2i3lq86me/66LN6weg3xaO00yt4Rqa2yqY1xCk4QuV2gmK
			0j+f2HXH723F7guQ1g6d3WzP8/T6/vr9/lzL8Rit5qHh99zw+3rS
			9E3C8Tm+75Xa9VXG8YjZ9e74/cbo+jO87mXI8gCn5Q2r5Sy87+n1
			/SS67gen5tLt+wCh5UfB8Mzq+rbi+K7e+GT/8ZkAAAAJcEhZcwAA
			DsMAAA7DAcdvqGQAAEUvSURBVHhe7V0Je1LX2o0gIZcWuBAMUDhM
			0ZtEr9aBOMexxmqctdapattwUwo3N4FIjuEk/PVvrXfvMxGIsdUO
			35P1aIDDGfZa+532PgMje9jDHvawhz3sYQ972MMe9rCHPexhD3vY
			wx72sIc97OHzoba4Ut/c+uV/v/7c/s9/Go3G8n/+8/Ov//tvb7W+
			vljT6/z/RG1l45dfl5udpaX3a90BeP9uyWxZP/93dX1Rb/H/B4v1
			X35umkvdbmQsODE+vn8YxieCY5Huu6XWf/67uaK3/dtjZSvaXHrf
			HZsA7y80NF8/9Hf8ciIY6S61sr/M/N19YmW63XrJTlfsQG0cmBgO
			fKu0EBXGni4Uf5nR+/rbYXEzfvel3e1CXSgGPwhXB2Lip4W30+t6
			n38fLK6+eaS7nezh25raNgm2LVDAYhqLVuHVfO/vZAi1zTfPt5EH
			hvT+xA4iuLbwan7rbxIW6+lHOqB5yf8GkL+SQGvw/PamPsZfF4vT
			j19pp/9d5MFeC0D+hNLg9fm/dDiozz0azn5Mv34YHtpeKAm+v/1Q
			H+0vh4e3X6kE1scezMd80MsHA9wVUwWXOd7r1/kpfcS/FB4+/lFa
			18/eA71oB3iLJSg5FHfP66P+ZfDwseoe0Pfw1MQ1deXTCrLACy70
			sleQfSo4diD44q8lwcMn42wgO9+lr7kLeyEtGKd76/e2Dnwnlq5p
			e6D5AvQFWwR5c/e0PvqfjvrjV0JJOCtKA9gLARdqoQ1hpDl7IXRt
			YCvHDmSDZ1u6BX8qFm8/d/n6ydvshbFquIYsIfTXA9kDenUXnv3w
			7fyGbsWfh0uPQDiiCYsA6o3d44q+brMP8rX6fgh9xV+/15+4tg28
			fXX7z5072Jh/9ZSDfB/Q668e3Xty+/bt+buoitBQ3eBtEAmG8xf8
			+OjZNe7q0Y/4oDdSL7L5/kcXdVv+BNSSz396+rT71CfARPBRqle3
			x/Hrh+ae/XCADR4IUhjO/8AXL65O1fWeRmawqx8P2Bo42D8+76zy
			B+Ph3ZcvX3a7ECDiOMHEqyeb/ZMY9avfq3YPwnD+B76Yf7htV3PP
			t0sw/mpOf/2HYnHu7sLCSz25FwFAPxh8MrA3Zq658Uw3GlAfh8S/
			AwdeDyx5V+a+tw1K74Z49scbwcbju3fvLiy9e78mGpB/cPzR0DL9
			0HNbAU8GpAbbLeCA/PlhaK/OzHvtSSvw6pz+9o/CxXuAKKBsgPT3
			7xSR1599wYaSP1OF5AqVKoR1Hw58f0hvNwiXfvB5lJL08R85W7B+
			df7x48eQoLX0XsfA4PiPl/S3g1G7p3pL8Y+sBQKQjrINcIEDLw7q
			rQbj4QufAkqCR9P628+PI9fmnzx5AgVaCzAAxX/i1YfKstqz/ewp
			1ftdWwAOAHwg/++P6G2GYeZFX2YRCf6oWDg1fw38oQAEMBAEnj6F
			AK8+nI7XH0nvU6+xCMnrKpl2oXkIvvjiw8Pd+vMDlEpvQVCBx39E
			VVS7M8/C5DZN4PG9Zmth6SWcINiv/v2zZ89+q9/bmNb0mTYZNAWi
			gVJB63Dgql7fRu1r7KyP28PvxVkI2UiMIHj382eDlavXhL/g7VuY
			wd2Fl0/HHuuvFW4eP3V4377DR29cv6+XKLydEPpd9D9AEWyIEEqD
			Lx75uH47e0HvbNYn6DnJFoRHgODzzx0I6t9o+lcV3rwVBRa8IXj2
			xL7R0X3A6Ojo4ePeVq+/hAUo9i5UCaEdggr09NqCM6ewF72zo1e8
			hRGyYZ8AMhzP668/Dw6C/zfffHP16q1bc+fOnZubu/pGbMATAGvH
			VYM1Rk9d1l8Qb4L99AWOBNBg/JFel/j2hndno6Mnz+ovgBnHCWz+
			CAPBsWBSf/85cOzaNUX/3Hff3blz5xIkuHr7yeNnb/T3wIOTXvrA
			6FGPAhsYOgFrAnmrYHsDJBj3RJNvt+/spv4KuC0mwNGWRwCY2Fv9
			/afHIU3/FtifJy7RBm4/mXen62v9TWajH+gvAQtsFX1bAIQEeoEd
			D4I/eea9b2zf2WHXBlZoAoo9QPo6yT7+TKdUp4S/on/69NTU6dNU
			4OrVa56ofXxbk9HoC/pLIEkXcOkr3kwKjgD39JrA9UE7O+WGyHmn
			GFDd72TZe58lHWr+MP7zYD916BAkEAVuu2Xr7IAmA64TrApvBZe1
			B8GYXhMOcHTQ3kaP66/hUD/Y5B36SoDPogD5S/eT/iEFrYCbArY7
			AOFp8+KSJo8xtKoG+uHG0yFqHv5afz8y8sjm7iVPRD69Ag5/oX9M
			QAXunLvlDsRu6jb2YfSU65T36PI0+W6XARE1gV+Fp+5Z4AuDBfDI
			+URPQuttXUQ+uQKMfzR/dD/pHxEcowncOecWroMiAHHYDYOZMfR9
			dwzcEQbcROCIsOA2/MQQAU7o70dGet0AhhQh8SYdSx3c+6SR8JBy
			/zvnNf2DhFbgO3fkNtgDIIAbut+COwOhCoV4UYnREeCuXg8J5dQH
			9zaTCxcMwyjkwoEQZPDDX5z+PhzR/NH9Dn1ABDh9x8lbg6MW4UbB
			RASsfTXAU+k5cJc/uxBgdFavMVKzDLPTarU6HbMQDkAEBb3jT1cP
			HPTwF/pfA64CjtGeRc0+EJ64lfAkQRqtdLsHrgAjQwU4o1fA3pqd
			TqtZFnSMHBwCcFT4VDXhv7z8yf7fBCWgAFNTjrMNFcBTCrUV876p
			ZAfBBb0eMCQGeAX4tdwxO82yZTWKRLmgJFAadLslvdrvw+JVP3+h
			D0ABCAAFHAG+Paqb2IfRU3oFoCj0+9h7zii+dHPqsJA6el2vMDKS
			Qr8bnVbZamQymWy73S5rKwAQHN9/irFh7TskAPJ36P8LsAWACRxy
			w+2QIOhJXLWOsnsVByVcaxG0BmNuWX1ziACekPqr1TIM0+yUrWKm
			3U4kotF2KxcOIx4oCZY+wamz017+ij1BBSQPHDrkJq4hfTbqjmDq
			zlWyT1ELMSPyrIIHwbhec2hM9aTBkVijjADYgRc0itk2+EdjqawB
			BZQEa6HW7y4HjmAAeOuW4o/u1/S1AAelGHJHL4MLodGTro388k5m
			0p0s4AREW4agJ3tdGSzAFf017CmWKVoMgJZFE0hEY7FUMh5r5mgF
			1GCt29ar/lb8C/yvgv/UIT9/LYAEAc8M7vbhG+EZwiZbzVZnYekd
			sfRuifZrVKvVgBYCKiy4ag00gdGj7hRLPZpow/kzmaKEAAiQSiaT
			8XiGpYFW4PcFwtpVcQDUP8f8/L0CHNMrA2cPb2+yp8dGFtvFTLHY
			YK+h0xTKkAQyFAoiQzcyqdcFBlmUJwSObCVi0SypI/4lGAEoQDye
			zidaIgEVeP+7wsAdOsB3dyT++/hDAB0EfUFgZHZfvwKjN9wuHdlC
			tF5eZp9lM8vFRgP0FZpUgUVddc3S6xJntunpCagjI+loLAoTQN/T
			/ekAWoBSqmwaygjWfNN1H4kj88oBtvOnADQACuD1gZHrfhsYHb3g
			4V+Liq2SPEAdoAcsQoRotlqQoWUWvFdDnvELOurjX4/FYtEE9yi9
			b/OHAPlK3EJhJAqEEnr1j8fiNTEAHQA0cwXXA1AIeBIhzPaUZxpv
			9LDH/kdGNqWjANirg3ZbKUIZqIP5s15bMOvfnVsDAf+FB0QTWeZ/
			LYD0fxoClCrpButjKLAW+s1X0tyiASgH8AcAvwFMnfbNxteuHB3V
			OHzBOyM6shhPpdBM6Sp5ccQAhSxkyIgKrVW9vuDb45wXFhy+4JkT
			hQEso+e5Lf5wRz4BoIClFQgt/UYnOKYdYKABMAKoQhCjAbcYFHx7
			5sLJEydOXjjjPysw0oulQF0BrdUKkIRIQEtghCgm/A1evC67u3HF
			R39k5OcWKmDWfzb/PgXgBUqBblZv8XFYvAYBdAQcxF+lAPI/ff5D
			5/IEmw57MQD8d/iTvjYCMMr8V2+xI37JmcgerQYjACsAgVYgb9sA
			40Ag1PWdatgtxAFoAFICaeoCOwBwKET6wC6u5q+73e/xAD9/5jTE
			9OwuvHbGCBdAL2daKgvIHnkErw2oXBAIeaZZdo0j88oAtqcA8ncM
			QOifv3P+g262npT2JQcIoPg7BsC3HxzF1CwYN1FooQjUZbAI4LpB
			vhRDUoEAgW5Ub7Z71K49u3YNg8DtNZDmTwGE/6VLl+5cOufOCgzG
			TFLah0LNx98VQPW/WMBuFPiP5h8udJqN4jIjAXfnkwD1QEKbwMeX
			Q1PP5q/dtmsArwcIf48Al84Blz6kwIbij6axgYM8QPPXArQ/4AU/
			a/rhcM5ALPQEQzmMrUE+3zCUAkW94W6xMv9sft4pglwLAH2bvwgg
			J4cowblzO9zKUJsWxmzWAANwQoDwF1NoJ9rZ/w73qvXlQDinRjyi
			QBnpYFmih5ZAjiUlUbyJophzhh9ZDJy7e9ctAiiAKED6rgE4AmgF
			zg3LBTN5aZHDf1gIBAXNn6m9HRt2g8zWUjcA2y+QGRVQEsAKJBxK
			QBRfoBHkUy0jV8gFQi1/qv4AZu5SgNsSAjgLSAU07OlALYDmrjA1
			KBms9HT4B/2dBRDuMrIRHu12fND1DvXltW5oLQAJFHvIkCuYkIDz
			YuJBjisk6QVts5AzUAzsKrfaSC0sPLunymCZBgVrH33lAWIBXpw7
			514jqlCbmUxK6LPh479NANoAKYgAcIN2ctMfWmr1XzsM62t61g9C
			iDcYemrQdgXunAIwEFgFJEykwo8wgfrC0oKyAD0RKPPACpq+lMGo
			AiQLav5QYG4u39tcX6wRiysbvTh6H7Tjcf7R/EUAl78SQNirICgK
			UAN5if13ekbvb32zEssWG2UTPr0WUnMowWAE9hDOFYwOp4cxnFCe
			IAKI8vEY1jdzga471/RBvH0JAe49QRYUAaiAlkDoO/xZB130SHAu
			n54TqpKE4sj8qgkKeOfnLwIISyWAA48RcIUE+xIbx2RRNtNoUgLO
			nsgVRkHecB2CBrQCaCApwUkIOOoy66XwR1RDG+/fv1tYuKdjAAQQ
			BVwo+po/oQVA/5MlaMqhteVr+g5/frmNPwTQ5BUYCYSuC71Jm0NH
			q2WE17oR8ldzqUqDgiFWIPODagNpRwpeYxgfYQLttbWlpaV7TyCA
			mgz3KaC7n/wdAej+efS5w1KoO9wFA/m7AgjvZQwI+R8KSERXa6nV
			CeEvI2cYwVoEDqBmEtWccqQbgCcoE1CxEJuyL7KIlp3dm8DMu7V3
			S2tLdx/fvnrOORuoJcAbRd/Pn+zT6H/huZ27WurwHyCA5r/MmRL+
			5yetgBdKAE6pNXkiCGHAnlsXKxiLhAI5k4NEuyzQOzDDAcMM7HZM
			lIYBQIMFBIG5czQB93ww2Tv0p3pO/+cpgIam7IHDHvZo0xf2Ln8K
			INNEiOP2fzuYEezHlGyJIAABUOMbrPF4DkifaSC6oVAgwNpQF4f6
			KNFiOFBt5dY8V5/sgJUlGsDa+6V7NIFL+nIQaCBw2AM94T956VIJ
			Aw+lgaOE5u5lryB8dMO0ACoAav6AzJWSAjSQYIgtsKXeQ7SNKFhg
			yAN4PpCnASUrIiXKSbFA2GiyKpBoykMk2mYgYMIEdnWmqNeFAXRh
			BXcfv4UJXDov1wS40Oynepp/pXKpBAVK/GProPmTvLb8gfyFPvlD
			APIX+iIA/vMdTRkdaasgm4I/EqHRLDdbGAZZBmmzIEYt1KQc1COA
			IRIlEAUJK0ATCO3qLMG97rslnrF4xzBIAcj/2LGHsP+HD+3oL9yB
			yUkIAGDwzT/QwOn8fvJovaLvM38hr/gLeUK6zlVFRJCgxgyAHIju
			L4NYhgI1rI6BKqicYa5MWfQJCMCMgGioHAFoZwqBEEzg5S7mLTYj
			75eejrHGUgIgCj7cPFi3sbH5cHpqSphPTmoJFJQAir90vdAX7pq4
			l7riLywBZf3od7Q4247GVAxl5kfho8CohhKgxfF92MxGU8lYlOHA
			sspWhqdEBE07KES6VZN1kVgBtsQXNIFdXEeafLr0jicv4QOtx2/O
			nT/08GB9Zn1FY319pr7xcOoi3b5UURJc7AF0BYc/BWBzPNSZkWz6
			7BMFkrdtn0ysYjaRSpd6W1vT09NbW73JfDIKi291Wqz1sQYroECg
			he5GrSUKZZqdZkMFfIYJ1LyoEaVCDGCMxJwIBSBxLhQyjcDdD9bD
			K0tL5hgTSjfwrvVkbmp6Y2ZlUZWiCosrMxvTF/Mgmi+BP8kT5G/b
			v+p9D3lAUVe9zgaBuEQ9IU9qyGxlq9hO5XvTm/X6zAykhtabW5Vk
			u2xItc/zJhwHBMwoRnlwOZpdKZ6wEBHKdBPaQbYaCumsGOwWqAAk
			oAgdMYEPh8Gtl633zKh0gcfJqSOgX/Opxpq8Pj0ZT8XzlUmbvziA
			xD/hL70PzhK8BRTANnibtkD6lWeGENLKjUR80qv44uL6zOZWuo1K
			TgZ+nNkIhQqpUqUHE1ndBFanJ5MZaGOWG+rsaIcWAAWoQaTA3ctx
			Mo1qKNAyA+5liEPwdqE1NiEuYNybm9pwnm714PLs7Oxlmeeu1Vbq
			q5Pog4s9JYDt/0oA4U/Ob9/EpCBCfQRbhcOqGk6B58NIm+BFPp0O
			Cph2vLfpU5xqH9yae7xkj36R86rtHrgrIxGPnL4Uj2XoPlI3ZCUT
			ICXyVGu3LKpD8AxNwCznPlQNriyV30lhvbb0eG6rviJNuX/mxomj
			vF593+ETN3iqt7YyswkX3QJ5/hFTlARodz+hEojC6fOX5pJvnjxu
			8jQograCiTcmQNsuGGYzm5SRJA/5LfS+LBfWQO1D554gjyusvSv2
			NuozK66VrKzXN1Z7eWjAkI+iB0Ofgmk1yuV79+4+VpEiCu9roBgq
			mx+aGdpasmAAkcha4fHcobo0ZvYkz/TYJ6dG952EBHQDWB80kGCF
			aFUhfbCnvaeSMI/TiJ4H6/+eAf5drx88cmjqztztewvv1jCEr+Y4
			m2ND9W3YaMQuHhH+96+I3vuOnjh+Vo61efFNRyYBumutJ5N12ojH
			L8UpVyeT7WWrgWyYzFiZaCp/aXKrh2HqNFrZmyylIQJEbLU+5ANv
			WneDEKBbfTzHYfjIyM0TnnNzgtF9Z5QCG6vwwg0C5oBjaKmjqXRl
			a3UDmcMNnovop5mDx07funb3aQS7V+BFATwjrj4sPbn0kI9R+/b4
			YS04Xy7ADGrrG71YKxxY667dvXp6w3aRB1+fvXz2a7laACa52osj
			YSCKlErpi5zEgI/MrOtYuro1mY8vhwOmVdh5XqS2UHwp/Btzh8i/
			dnzb6W62y1YA+VEwU9+c7pXisTa8LZsqbW3yyXj+2Kn66djpq/Mv
			MYhljFajOMlYHNVG7t7CIeXkqj6OYPTorCgwGW0Vqkv3rk4dFLdc
			vHn8xFFelHb46Inr0KC2OLM6GU+UzeX8FgIExfepX2c6MQO5stnd
			8bai+kIxOIEA0EpOkf+2GxYURg9fFgXsPsYRkBonk0WMUMqJ/BZD
			p7D/9uzN62fOnLl+U/fT4srXh7679nxMbm0YG3v6009POafBS76D
			j64e+jf4b7vAQBnc+uZkrGg9mcM62PO3Z1RIku9HR49exxor9a14
			w+i87TGL9GuPxqKBmVyg1Vmr6KUDUSnfnUAGNN70DpL/0Cv1TmLd
			mtvJcoCteNFc6jyZE/5Y+OD6SfQR2oeWHj568gwvlsR6R85fe4Qk
			9dOjZ/PXgPm7z4O8g/ana6cPDuIP0OAQB3rxZOWhuOV1BCX9nUCu
			Gqitr8aL1puLCNw8eu3+ZWp/ZvasCqUwv+l0J2A2qzsOCe9lXk5E
			1qqPK0dgaIvDLv0F3NPeD+4zseAAmxeTTx6/TW9tSAsuO54swPvD
			J8VWVw7CDZ7N3+YpB4wrTn/3zbPnE+PBu7d4yMsDLrEBbmL/sLGt
			TfJ/4LuPSIGX4SxuTCbTKnDVZi/Y2jOUnqHB0kQyuVyz4LkScRsW
			F4oTwW6gNTe9jt0MuVydsC/UeHAGvXz0Bt2UCswl8yp1Ll7B4fW6
			DkZHT9FWF+uHzoP8kbqEj38fhFM8errwzdQMQs5gkxs9el+6UJ65
			+WDwOpdHajMPp5BF0apZBG7PSnh//IE0MGkEOkZ3h+dxbZTvjY8h
			HF+sYz+DblixIT5gXw2Co/FuLhxg6uIhiVFnh13pPnpSU5nRUZLO
			c+T07cfX7tABtl8SpCAmvigV0hC3HL3BTCDmv3hhgPanzlL5SjNg
			mGs7DIgmMwvj3Vxr7iEMwHuNmuzRJ6pcrHjTcVjeGkYrPSL9f3Ow
			IRNyDxmipvipAiud8xd5yAdDrzany6mIM/hCPLl4TgL/EMdljy3O
			bBXDOXOnINBu/zSxZD0WA/Be9Xnj+s3LN6948pPcA/LAu0BZ6foH
			+HNF+8rxs9dvnDp18joMH8ptMAP6DcBrxs61Ud5V/GsjTohEw65W
			nWWYzIarZm74FTO1Znsssvz2DSPA1+6V3/aFfjU3KIgAvkNRYtWC
			IYHMhr5u9P4FBkl6j7gnlVv0VgCjh29c8HzWF9yf1R/x/ejho9iD
			/oTP+vLBm/pzPyAhcmkiHDAK3aGnytfLmeC7eDS9AYk8l6k6N7zU
			HBOlAP03NOjrQYfe5+CAGeSyu6sb2IbWO3JZLyFGTyCqfOtRXF0e
			5jjA6MnrZx98Pes6hH0N/bDMNXoBvrYZzYULhe7Q4cBG8V6wVUld
			hDl6aHguTnYCEPu7T2vbSvtMkJ2s32pIWveoxBtAxHQ85k2PIhw6
			6t5DV6LD+vor52hagKG3LCgLiIYDucLwGykm2wuR9mTyEDzAc8ua
			jviE02yy7QvZoyfEtH0tQJF28sKFE33eCo/yqkQTGOG2ns6z+9Mx
			eXXjmWMRsg3hrqBcYPD11QBjwMx0NBDI5UJDo2As8fJ9ujK3CX/0
			1ACuAO7eecl+f7RRneKN0qM3rov33PTZJZq66Av3+vp/30KOAknZ
			sTnu3eOCdlB0g4IqzYZ6AARcrG8lAqFwLvBIumoAionIwmTpHHKA
			15EdF7iuF2ARDbJfAAkC3th52L2s2XfF69m+WyJ15933bMoQ0xfT
			QdDdzLkA2/5eN3JQAJJQy2JyfbWSDUTC4cBPQ+aGa432mNXLn0cI
			8Majffr69Cv6I9vHJQMF8C50+aPtTmqg9fo31d3pcR7SYbHg9TPs
			3RPytAU4faJF7L9pB8yPnjp16sRxlCkrKJWL7yOBcGBsSBpYzzQi
			0d7cFEKAz7/FIS+7xqVviN8mAC3ZrdM8oYO4zPKUOIWE5jdU7dD9
			AogFuF4HAbYFZhTc+rOOCb6OQ0OPz15+IPthGTT1ttysQoDwmO9a
			XBf1RKsbr0gM9JHDcHP2hpvc7QcC9AvAVO01Y7m7z+NtszdOHT16
			4gojhb+cVQHOFz55m5m02+30myMPPCvQI9w+GT2hM7XPt0Zv6FRB
			wAHmzIBRjYRy4ciQB75sRJeW8vnUMcRAbygD0HH6Hd6e1KXctoDr
			91Ky0uI7WORQBeir51X49IQP5U6Apx6/7Mu7o6eOu33CYkrBN37x
			3LCLQ9d7mSoCQKSL/0Py4HT0nVlKJx+iDOproQM1+aDQP1hil7ui
			iAcoAe7PXjl+4ThG5pr+EAG8/mv7j+cYZ/2Ku30yus+9JN+fmrWK
			gsX6ZCMwthYYowhP9MI+/BJ916yk544sDr5Zhzh6xSHhyUAKjEOu
			W7gCnNE1L2pX++r5gQL4lqpC4LJjFBzsDByej+7zPlfEr9Gp62fv
			33+gQnhtZitaiHSVAM9k0Tako9ViJU4BhtRTR6/cvO+aVX/KYWry
			1K52DLzidZ99N2T7PgH0jaX+wHPh8llIpz/J7gbl+MM3tKYK/rgE
			zQ8fPnr0FHIAk0DJ6kZCEQrguT/Xi18T1XYlOYeB+ZARxeHD+Ce7
			E/Q1iMWBRwBdPdz3D40kCfQJoINg342So/u8W1LdPtkEh5HjLsw6
			vdIfmAHa3j5kzdr6dLrQDTEGdL0PqvEgmqhGS/G5jcW+QsUP7O6E
			cq6+o5GyRwC7eujb1egJLO9Lg9pYfFG+HzjkIAGEn3sryUAvAdg5
			i/Vpi2eOhwuQaOdipTQtYCcBAH3rUt9ggCWtRxOVBrc3id7tTzJs
			nUSLYc3HKhxDDxRAYfTwkKPZ4FBgfQOVcLebGy5AtpDalQCqzYOi
			oKe/ZZUBRsn+7nNVGignc/p36EIKvQFlroPRfaLAcAFOcuYpXhUB
			QkME+DljpEr5OQwFtgngBjINidJ9XQI/9WyofWD7rrDcbzv0b1X4
			DrXgE0w+vsOJ6XsWqJmm4QLgqCsz+YISYIkt245fi2YSaXC7AKMI
			Nb5Jbi6C1/UdDvWo1431gOW4aqurISpGfwmhBOBkWl/EdKDcySvA
			6NELx2/wpKX+jCV0y6ECsJBamakYOwoQL7bikyKAPwvI7MyDWe+c
			oDpeXxCgyt5G6mHuZZ4bmp2dveAu7ivZGQPUPOngmWg99PFZgKSi
			B2f6htADsoAGjrpSFwHC4ZDnKQ1exIuWFqCvDtB5r+aOB8n2wbZy
			AR3lbcHoSbdqAmwPR9njGTIAdtWMvwMZ2Hefe3KHOyHiKkCv9Occ
			sTz99kQNQTBfiKAOCAwT4NflYryXZhr0zU/bGR04oxcRjEv9pdAZ
			f0Hvu23Ybhzp+idE1PMF1KqeiVcboyf0mMbzlXYvwPVWGpLfgm5c
			OX5Suy6aVpvZjFe7OwnwczYLAZIQwFfkOTUd4LFCtqF/zIQm+BZ5
			H39nmw87r6+IHD3lGbb1nY8eHb2BYCrm4U0xjgCuMbGjfOMlWefs
			mQunELHgRIv11Vi1CxcIhJ7LptvwczsBAVL8kS9vpeKYG+ChR7b9
			QQBN+NoXx3Dkm2j/tzevONJJu3zujGWnVBoXeO8WRo0Dw1aTxr4U
			M0gAhCBvEHae3FK7PIt+qK1sbmVRB4TCgWF1wK8iQGzVPyXoswCv
			AFjcHwQ4JdBX+smUjFzvoSH23l/WY0hz5rLtL7UrfCSl4Ki+RIRn
			0rxlgg6LgMfoMfz1mJbHcwW19dWeFQiFAoWhAvwPAkzG5bSIL5Z5
			9uQxXVncHwTYkdvIeXIVNyPPPt8BsNKpEydP3rhx4zh2cvP68Qs3
			jp+h9SBB1jc2ebWOJ3I4bbrvWcbCw3tw3zAJAmz2yhAgbIQjOwqQ
			3eqfEuOOFbyLxTD6KwGWR94zZtshqwzO16rTAY9D1MB/ZnOrt8pT
			Z17HUezue4MSRfG0kCdEPcBwcAsWEMiZQ0eDv2Tb8clkozfjP0lj
			V/VwQr1AIKGh/+SIuOZO58ZkLLTNT/qg61phv17f7MUTsckNmIDH
			LsUHvr3iy1asvb0JFg508+zslRuwK05jLM5MF8OBQKEzVIBpEaBc
			6ZsWd6Kg/2kOyg390Uy75k5nR9VAcnDB40CsWTp/Y7r0tvXufSvO
			yOTrlpMXfIUgNpK5Km+D+LU2KuiOKNjOBcIQoO8hwA42kAYnk600
			8qDfRg/P1ha/vt4fueV4/jwgnQBcHuYFdvT2l4LbQaNbnHk4de7N
			44WnvOIzNs1S2c/ORx+iSS4dIi0ODB+IFgJhoxUeuy2N2IaZbAYC
			GJIG+kYDp3xnYgU6y/ioSo5nyv52wEUKbDP4S8nnnuMZDJhSbeXY
			d/ML7+WOmFBY7LI/7fpgaztYe44GFzeiBgUIjA15Fv96uxGvxAvZ
			re0Xq2ynYycin1JcWFuRi7R8z/5QUDl9Ra4h6E8VfYCStfWpay+7
			a6G1AG/9zbWZnIbOVWILO+0PGU5QgM03RiBgdELBIaeHFxPlVL5U
			aOaZc3YOUwDDMDOar2SgodUPzpDi4hlUYO53eHsDUXlx/aBcRfKh
			IHCBU1hvCihc1H1AYatCz+wzTA/oNGo4MVBb7nBx9W2Bd86EgsOu
			Evq5HE1PmlXxgR3EJqSvZQTnvSQFRQ4995C64rV2k08Flxi07/Ap
			ljSox4+dvsPrAT+0++sQYAsuK5d+UwIjRsMcnD8BcS5eReQrDVzw
			ApKVrUwuEOgYkVfDrpX81cqme+U1q0cT2MnfkGMRVRdn5LKtby/o
			7DAqMm9s5ZPnDh38F9vCq/Vmr585M3v5vnxarB+6de3ad8dgzR8w
			gbMjiwfzLV72TQUikbHu3TluNuQKIOG/MjMjF8m5F184kP6aqVhI
			g63C2PNh18j8YjXik5muEd/EoXZyU14qCltf3VqV66lnZcw1evgC
			Ysf6aj6z8OybO5DAf8Emk9qR09/cfbn05DyvCBvWlwRDwMrD2Dv5
			DYKgenbu0/k7vAJt0MWrch4aQX5zdUO8r/8iNXUh5eJG0gyEqs1q
			cEgZMDKy2mgmK4lIINOjmw6v6DgFid6crqTz03JZ2MjX6GY+Sh+q
			bEWNbvDF/DffHTry9b/lml1iZX2mfuz0rfmFyFhk4SpPPw4oh22M
			HoUBzEw97vIaUoBP0B4PvnxyWuTuv3xZXaSHSner19valPbUeJWm
			8/XoCcaHxZleMRcIGa1QcMiJIeTB5WaqFO2uddLSs57JBh/kCeeL
			M6vpRCYbpwKUgKix3Cw1wpGJ8R8fzX9z687UoYdyy+kRPm3iztVr
			d39Cl451753jRXHbmNjg/mvrD+cWgqAuCgDjwcjSmy0xcefx/cJu
			30l2/+L6dCmeSsVZM7M5Z4+fEKvECIPfc4VNuZ/INLvBoT+Gspht
			xvKpUKiQULX32UE2IGdHoedqKWMWzGJ82rkuHt280Uu2O+G1yMT+
			/T88f/3syZurtxS++Wb+2aOn6laeyPvHd3hdrJeJAzI6C0s6eGf+
			p3H95HhxgbFuoNjTlyHfvHBCoivvKJBstFKfjreLmWw0PrkJL+A6
			I/dnz1w5c13GmOiZmY2K3FGGGDgx/Dc7f0UaiFdRduR701TAiW8O
			MEKVAfrM9Fyxuoayophf3eDtKwBvcYoXW0YBI27+UkIwsvbu5aNH
			rx+9fvHixfeveKc7b3Ufi3QRBpAocMDZC/LYLXvfZH8FjGqLB09f
			e67sX341AXmgWmhFK1sbqoNB7yZv4ZGBBXoXkTdatBrZaAw24Fys
			rsGrUTdWtzJVCFBFDHw1/ObBXxqJdJ53mabSeQmEIzdPejoJDTx1
			hVX6Sn0qee897y0MG+3J6dVp3jYyvVUplVLFcrNlhgMh3s27BiH0
			r+gc4G8B7B/nE6W7obW1pbeX1IXfIw+uH7/Bn9DYd/joKQyAZZAH
			fbduP+JV9KCPTTCGb/F+mHYsTyf30lN2t9rLJ6PqrizYgNyuIDZJ
			SPxBfIgbfOrEUqsaHHqJEEYDjWy6VMaIKZqKVtRV3yM3bW8aPXzi
			+HUs4eziVLLJGz0gQK4ZK01OlnqT+Xw6Gk2l2s2O1WjSCnifUyg4
			Du4aX+wP8tYn3vkXNp/M8dYH3ZT7Zy9fVpe1q/6CQSMAyK+Pd3EI
			wzBbzWa53GjH0ryrzAmtEls3pyfTvMOSd+Tx3jm5X0Xf6sj7RbDG
			KsJ1O8ycaqAMGjISINYzxXipHQ4UEslMCqnANjfm8uuzMthA+2bg
			6VYugCqVAnTaxUY7la6UeJtcKpXoGOVisWx1+GyXTi4QYSQXC0B3
			jvEm3w4fcGbIHVIzajLchnSY3HuRz6zBiSaCGAbgEAVsAQ06VibR
			bsPGN1dX9a06q9Nbk5V8sp3JNBoN3iKYycbi6dLkltxXBp/EqtNb
			vUo0luRkCEJAITKxw4/41NqNVCluBnLFeDEbm95244tuXylqkQTv
			YS2YjVjDMPlI02w0mc4nY5kOnxPaaXYa7UQiWy7wPk65JYK3xbCo
			LaAcCxdASFyaBi1YZH/JXXCTyUSiHOI9JXw8QFeK4WqzkSlmio1O
			MxONqsejyD2aQDKW4EM1+LDSTqtcjKaSyXi+VJHbudT9jOmolUgw
			BYQKrerYxE73zPy3GM2XMoVwK7lcLsY9dz6JvYnBbZViyx37Tq+w
			2U6X4g3eAmaU27EkHxuSsKxldEg7xftFM+hvZF9GPsWmK7e7r6E1
			gU40nocE6rbcGfaW3C7LDs1a7xkwsQnLQChglC0+N8EI8wlqOcjH
			R4pbWZhcKhaFMLzttNkxjYIBpRK8XzE/CbcUgZKphpVooBVMgqGd
			QgAvlkUQiHYCRjQBV+bdT7w/UZjDnh5OT69uVdLock2/YLQyMRwi
			UZRbuDsdiJCKp2CFsWg8jp7JlA2jnCnnAgU+0ytQhR9yfAMp4NzG
			MtbckhxSr2/2eOdxMp7Gn0SxYQaQL53by0JhbA6oyJLj81INPkMt
			k80mYrFouygPFW7jaGhUzizyHtp4qcLKgIhajUQTgZk5IDKxQwgY
			GVlZRhBIWuGwFTOaZoN3YAEb6PfJCu+Ly/MOwXSqvYzeMOXpPSSd
			iseKLd7+aFqxJOJgG8dMVvKxMpyhYBTby50yOqrdMstNI1eoggQy
			UiBczsJIevaNd2m5vzaagp7ZJoIH7F49F4FZICe3g2JDCsA7gpvl
			RhZhH5bGO8dj4hTwhTIlCrcaGd68V8qrJ1gmE1YW1QkOaTThATvf
			PfxzMVZKt02YgGl2csuVLcF0LwXKVqMRhV3xJtES1IhlM8tW05QH
			F8iNoPDALG+V5VNLEI0ayIbojnIrlzOTMMYY4lS2nU20ERwQsMsd
			uEw0WhGJNznx1y4uw3bhNi2jY+YKTVOsNhTKYUfqncoITXCPIuKD
			Ju/Ch2iweHlqQzIqChhIGJlEMp1OwiMhTabYLpowvlwTdfCrnX+9
			vVfM5kuJYi5sNXOdXCHGO4MrlV5pGW4Ozyvyjm2BelhAEubXsNCv
			fKQVIl8jmkb8KcXZh+wL8C8bgXAjX6Fl86Z33lwKMfAmkyphKWK6
			YCuPzkL5EU9kLNNsFhvFrMXRMFiXG1V5leejFNXt520EGNCPqvvU
			ozEcVtrTZngq8OkRGXyHgATbiFmZNvcV6FhmxPsrNoNQbzTipVi0
			FTAa4Y4RblZ6PfR4JV8UnzesPG+W5t3C8kfdMZ6MZcty/zMa3kjA
			53DkRKaJRGG1QafVacQrk6V4PBqFfbDF+TxSVdKK9zB8mYYL0AtW
			t/gQClQU8VQ0i5wCj8YeaPI5S/w3LE8QzWR4Tzqpp5AG1GMK+HAR
			xn0E/DTcDu1s8lEMCQYHOAhKk6IYADKJMTbxgZ+mrP1sRUvxaDYQ
			bqJHC4UUeJagbpt5L9dppMUlbAEE+qkJqWi7IbeE0/6yfNRRrpPl
			/fOJGMqkShymnY0ibMWQpoFeqhlH8YiaRWOVt2ITlXwcTect35aF
			1NZsNiW0teA/kIXRjtlGWT3cLUZdebeyKBDPwF9yfLZcow0JmzCY
			KIJZkzGlUC6/D77yPgR5EHqN5Xw+kTIChlEotwwLTCFAJWbSAJrF
			uOYvrlDBl+IMPLTIkMo2eTu43CFOV0VvRVGcTpaSMAUkslbZyibh
			I9g82U73sC9XABQsvBldbnVGJuGW0QRFwKELJqorcJcHZTDOEJAg
			SS3kOVt0ATQj3TYgAO/IbxQRn8p8XEHOaObCyL/mLjwAPmBZqVIs
			1mDBYhWbnTTqqHxpMl6Gm0OAGOoLCpCH8etHOMBDqId6hEA8WpRK
			r2O14dJ0z2gK66L/UasmssswXt7djLbCEyBfb1rzZ1GnLIBBp6Rv
			RY+irEJPmOVlOD13iJ5n3yfhAPyfRtczd6YQ80EfAqCIQeRB8QEH
			DqNAsxCLUUmGIt1qs/wuOLHz74ISP5ezpXQ0bqBmL2eXzQzriXwF
			1RGiXKuYqLBYod2jG9FXDBAOIABjXQOBqIBUxAddIGHQTGAffMCa
			PGStpAIoOg2qIQYQSgHFXrTE+siRyHNlExWwPBsCkYXGDoA8TD7N
			/6g++ZpiFEQ/lJJIAw5yLatjoDHIoaipzWYnEtxhJGhjC2GwEou3
			sQMji6FNEo2CAjHkBKMDA6bj9sAdrkFnlj4Th0DD4QYSFRt8LkLH
			kkd9iFU7CiGjCEt4K0o1mLwrgDySAdYl3yOF87nxy3wkVpuJngE/
			ijFHXD09JV1CVEUwlWSXTqs0gGMnmJFYo+NvrkPvwZsAn7lVbTWr
			weGTQS5WLITBdCzfwcDFamc6DVpqupS2+JCHVqOdV81kZYSR5xb4
			aRXouwCfJIE8l2mhLGgsw+CZSNg9KlhgPQoCivIWgxY+hQDgqEWc
			AHvDnjC8QxjE4I6VQSqZwkif3o6+xwFY7OcZ+RH+af5J1qMsAzJN
			9SxpRg3UJ61qgNmYE6shs2V2gxO7ebLo/1AOV1LpFAzHzGbLZqaE
			zk6ns6Y85qIR7WGUAWuFKJPCRSgxLkwiubEb0Dz0DXqw3EG5rgo1
			WL4kP6x9UQkA86lg4Erm/MPQssV4i7VAJZZYLmaWMb6CfSPUS9yj
			dUm0Q0VaKiXR6cko1k0k4xkrGkPybKhfFSByCLfFBkoQGQTDAAqt
			TnVs53GAjY1yMVbJpyoN5GArixo3k5ychGt3GAU65QyyF/oKIYBl
			IoSAGYgAYIhlCA/RaJ4GmY4jaRU5jm+2+Kgj9CPNnjwRO5BB8Bch
			ANQhAPZYQmGE0oX1MB8Z1ShiXAHr5p5i6PZ0HNEG6lAFOgCLpkwM
			Rl+MtflbOx2MFkidxTI7CjVDC59QSQNjIbNjdD9YBGj8nEnkKzhI
			JxAoWMVyodDJQpAERvh8eGkjkaez9ko9vpTy7H7okYZbK/dFdKYU
			MBp0Z7LNR/9xRoOFchuFooiDeDAJHRAgYPnTUAE7jCFxZK2yxYcf
			oQ5EBYMgJ88LYmzhO/gNdgklSqVUAiaVaSZiWaQJu9tZNvFhcmaZ
			j9tuI3HR+vk0mTF4xPux4POdy2Abq1YmVcknKykMW4xOy8Twq4EB
			UAeGxadWNtolMKYVbE3C4ifpEOh9+gMNIY28Jw7PPxIQ4JkdPv8L
			tQHychHlQQqRKw8FKukS9zO9Oj2ZTxYxlIWVycg604ZzM5zk6WiI
			wnAhlW9KzB6VJEbbcdhkwf4lDQ2Ye7XDRydBvywqAsU/MtE1zFxk
			bOeBoIvaf7LRPB26wTEbkio8CQM55hOQQD3OXIieI20GefBMpbUj
			oH3wWrSZ3g59VIGUggZGAeBcCYYMFmRoJ2HHmQRjKAwpmrHQXvYi
			4lcny5iGzubGkiywp1I6xbyZiiINxlGgGBj8e7kDMmLgk/SWkTYT
			qH6UA0SCQQgVGpv4cbfP1/4FrWOeihc4Ag1jHMEjUWs4AauBWE9m
			mmj/6P48vFNiO2ya3UZR4A/yRz1dBxE6lmgvlzvSYRw3GdgLBgpm
			M16Kw3uiFqK3YhE2MxjAYDeS1uQVO+xVUigEUAYUM8ix8rsBIpeQ
			lnEyIgDfIvc1y4g40SInIPjDduj5rmGEI8Hxec3vg1hsILpMwu0y
			3DfYR0LhAP4LcqwGUpP0AGB6i3UizR8hDc1ExpDcIA5B2wWHZBRB
			QYX2jCV1ot4PirVCJtqOxmOW6Vhy2MggDsKMsAk2iieZRqBgppht
			dFpNDDHU9mptBXaLaVKMAIINKicMuJEQcwj/cIDgWMHIIQL+uKvH
			KQp+KWfhyDi8SQUjoVAEtQQnaKE6Z0EwKGUhT9+Fp5AwXJ5mADHw
			D06h+PfSKfQjrRiWIJkMpbJDQV7MJmqLIgexNiW4gGlaCGLZbJbZ
			QM00YMxd0MFOrwe+WJleySmJcjNH/kYHAwBOO5TLHTm3zN84r9IB
			guMfHAa4WMRgEiV7PB37KTg2JpOTSgEckXMScONMmgF8C12MbIBK
			D1mNNJkLlFuDfg/ycAZFEl8pnbAwLODgGd4uewIXeSo0w4unR/lF
			Tp6yxZChWGM1rq3XICggkhIMns/ha1ic9AwYrY7RspazfPwyfYoV
			wFjANKrwgx+HnxDajl86xVgcmTyeGR/n5NxYpBtyFeCRrQRHxlID
			ieXzb5ojfH6ma3AJfaN3UfhjfNcx06gSMGRHieVAsdP8xZkBLvRA
			L5MXAt0Om2eBIeNeeTgdHQD234KD8rm8VkvSAwUImGYBgXD3EYCo
			Wc0sKgEY7d0voIA888lWgM3jwDCTSIIfKzgm9S2snETVjLelkjzA
			S4KgpAPUSCiKMlaC5hC31EyXUBE4HGWp95ttYCLGKKOJUZ7NPpPN
			ZrIZxR9mT/7LDcRUuAYEIP+WgZeJVx/3EwtbRpkDLZB6fkBOUECF
			LhyJvoAWSxw3ywmkATgB0pXMP8YrSIPYBjkCvOENTIXpCrI4Rwlw
			B5hCJQb+8MwBZCmLgl6gQYHY6R0+f89Cb7POyTYLJqdI5GGjRQNb
			V81mk7+5wv5vdpAMeKBIFSMijAWD4x/7A5z/MRopTmWmE+MH9u+f
			gClxkp7ndu0mwQyQbzJlVJ1Fq4PiE9UXBvyJTHSyV0ql8rFsGmGg
			hNFQCqGQSY1RIV/m0IwT49QAjqWhmDugNjgE8rdYu2VZzSYfEFtE
			adrKgHbRhA22OWJuJxr8oclCs9xCyc2nB5Y5ewZDgwDVltXK4XAT
			Q68KGYaNgplF7Y7BZ+MLntWTdEBDEAUIKsBaRKK5WKdhMECifcVW
			q1jsoJ6JJYqZWLRRRPUSTaC6SUWtKs+bIqiIBpzy1rCZS6Sjk+dy
			fEokurODQSkiHfhHU+1yo4HMWWyVi5Cb82PRdotbGGVOPtIkli0T
			XxYhCvkjGDIQBj0/6b5L/FxoxmDPSMF3vzhwYD/PUlABtF4CgTID
			9Q6H0q9MlHIOJAdlCiijCyieDTouhioYsJhGOEQRmVioADyKU/5Q
			D7uS3w0yWk1Unh3OaHUabc5/Z5B0s+UiezsajfJUSEZqHT6hlN9z
			0jwH9yhjHWiSWcabTFGqRJbFDACR3Q0D/Vg0C0U4QSqWRiCEAupc
			HbsNf3xeqvtOGTV1wTL5z7fyUS+TF+UANH7sJBQykMEw/GnxAja0
			u9xot80qUnuW53vVvG6xEU1xlLiM+iaZjDUQChrsfCDalmxX4BAK
			JsHTw8Uy6gDYfxg2BFcwyX8suPsayEUvZ7bhBChL43fHocD4/nGp
			CECVJ23ZevnDfiRo2RIjHdisCaUC/ldD1WoV9QoqoLJVrYIHZz/5
			1Fsj0260eFYJRDAUjjY6jUQWJRnPbaCAWrYyMc4ytJpwdPUY3WiD
			JUWYj8/lk5bR/1mLptbBMK7QRL2WaSEAQoBdTAQNwHKuFRUF8uly
			EArs56VKIKn6mzJIHMP+eRDl2Y5pVJknDIaFAiMyklYZw0oT3VNe
			XuYUJwrcWNRYiqWWM6jxowUIgI7mdD/8LhVLoPQLdDgNlIxzTihb
			lOdStxucGsdQh+cEM3zOJtyHZ2QU/wzjAf7xNCAiYrtclZY959Uo
			H491o9BAGMjDEfLLT53rdSaQDwMB4auYq7dSLPDXX1grywwIWprN
			WAWjDarsRXRiJlPumFYbAVHmd1NWLhFvdpAjk8udUDVKthwCJ9m1
			ZrGRSCLDxmOxdhEjoVQ0utyAbDAREY9nAOD9Bp/iKObP7qf2NEpk
			P6u4rPo/EvxNPzUG/BKGK6IewhA8b4XG5EoHSsCf9UAs1wWSkoCR
			DR6CGFBo8LwNJ7GSKYx/eHKGJy+lL1NZq4UAXu7wJCL+xRDRCy1y
			ThVDoTbHCxwFJcywwRP9cD9ok8X20CuKOMgT3yk+uRWDPXgUgkWL
			hXAR5DFqEEVolN0qRgc6/sE1f/uvkGdyZgL9X0JbU2aoG9zPS320
			Fai0SObQADro2A7rKLQgGwc+/I/RexK9hibLySyerIu2m0YzAVF4
			YiNR7rSl08uhpRine0A5ZuRQhlGfRCKDIIyjJ4qJVDQG6jy7mIzJ
			BRqoQ6wmMyVnTzONlq6woQCcomV2eI8cM81v+aU1jXUj18RhMYSJ
			JTp8UjGCIS95YjTgxUuMAIq5DYkLgVyrmUWf0Z0hgvxJ0gpiWZ6r
			49kSniCOJWPtRjHLwX86legUGnK2NJ3KZpdFQUSGcgYWiA1Q7WAJ
			z4vALLKIJggn4I6akKcLeZa6xfNncmE5pwRNjLrZ/eQ/9pG/MeXD
			dKBgsacq6WXOLkS6E3LJl4jAp89y/xSA8CogSb0sJ0rRoyCoRsPo
			UZ71s6gO9Ik1Wibe8mQp0vtyJgalUTC1U2n2NAMiRAN7OSFGp0Ic
			APsC+h5+lCliJMAn0vPnJliMcWSMVxQdHQwNJTSzfW80l9+GZLhA
			Z4QCLexsIhjkxXt0A4JPx52Y4CWBvKBJARLQMmiLvBCoyUtGYOIy
			uwFj5ukudD+jICNZLJpMLaPm5ttENgqNkgj8cRgEXQXmLl5P6kQs
			yx8OA3kMeFAnNfnD4ywZQZ4FWKfF2RYD42jOhIA/jDQy9uHnye+M
			hlIAY+Mm/Jy02fvwAbECfoJXyDVwchkkFaAAWgMRoQE2iIEigGLC
			dCdhAepkCw1qg2gAARABJQ1CDuQ5pAqqQMBbMMQ14dtlzpJkGh2U
			Oox5Djhu4PnLjlngIIj8GaOe7+InFXbEihnIoRKDAnlrLDihrvgT
			yja+Ar788itUSlRAO4EooFTgQA6j9CKCOSHWj05V0TwZTzSisA94
			B7yAU2dIhPR61L2MIupJ5Wpu3WS4zzQaTQxEWen7gSPhP47FhySg
			DYwAY2O7OhW0M1bfB8JNKpAvZZ4Gx78g36++EtoKWgTagPIAiY4a
			0jkAjJQjeZ6vKvJMJ3UQw0bOR6EFW2fHIuLTAdLKUygVwmSzxUk0
			o2WYFn9pnWFOsXcOhDd8j3/8Rr2lAaDDrmoWvweV7lq4xSCcLsUW
			ghP7D6C/AXL/UnU9qmT6wP4J6O5lr8D2umCsYmzAgJWlexsUExgl
			ov5NZDMMAgB/PKOdlZ9Vt+dQYeEspLkH7lNRBjwflOVRBMRr5QMT
			v60E7kcyEgqbGIrCQxEIaASigGjA7v9ifGKcQ+YJlEGo8mXO2u0n
			B1xgQ0jxHEihCYPmrw00GbtNjPsbxeWGXPEnsc3r5no/gNg3CYO3
			yx9HCHHqulC1+T/77RWAD0/GQqzMaATxxvsx0hX+Kh3yKtD95D8W
			yjWX+WPQ7eUGij3O4qraRDfbgSzUIEU9oyCfNOSTgtpG9a56K/xl
			2OWxN9YAFD5ceI9vOXifeLS7M2EfRu1eEOP2sjpP36x24Vv7EQto
			9XINLGI/EuFYqIDMLxGO4S2RLWaWG+pciLfz9KsNEnRI6i/7FONi
			6WR+wHd8laCvsr9YCmdQ5HMg3GX0J//nH7ocaPdYuRuMBMIdjMSs
			QpUuxvjC5D/Bmxk4UcD2BcxlXrZG/omMZDGmugTsgdPeVeUUPMtA
			CB0hZY+mBfIWH/hHrciV7G8gFSOBnJ/i2UY+IxZjTrqSnFSUA7Ai
			A//gq4+ZBv8QZh5NQIFCK1OEf9GE6YbMeKyNEPvhjvwNUAODQBnK
			oljjgEAhxvKtxatE0UTNigKIoyp3BexCUgDyPAj/YzX1gwRYKC4i
			U28QgcPeMHlzoTgNdiuFKfcS/HGHi8J/A+qPxsdwCMNqhXRfkATb
			rxqNBYjsZfQKXtRJqgLP8QEYEPJKYquBIpaxkfNg4rwgxrxJ9WRf
			sh95L/QV9GqQgKaDBVRAzgJ6wR0Cdl3O0yDndcs/FTaejwdxiCrP
			s6OhvlZLuxnL7Jwl0gQ6PEeFqlfmZ6EdL51UPRoqdCMw1nHED3gQ
			JxHcMMGOtcHP3FUIMrPEUN9LTMFitoPuQYNX9iNCUa/x8Q9fDfax
			2HiOESCOmCu8p42hQZBAjg9QDrLUzeYJOZk2gYFigEIigUCBOV3C
			RzCSC0UC3bFxlE4Iol10KjjRv4Uh/3AD2RV9RXaJY/AVYuGFcVjA
			F1BmOMJbvkhk+mF3l4J8HOovZPiDlBjgaRLFm2ZHuxODsMGF/AkN
			6SGCbGzjwFeIJ4EITXt8bGwchsXvSE1VcTZEAS6Sd/ozd0AJJ9xB
			2ThfhTkiMj+P7//hU9u/Qv0RjoQDjYUCayAIhireSJ/STnXLxSzo
			iiKSrMWkrQQAFdgsadF0QtX3798LMxIkf+yIHwBZrN9rs8AaTLjo
			dbkViWWIVGLCmn9Yj+3f/+Np3eJPjfXXSnPOCsrsvtieUBUB2N/i
			nEKfi/lnYpwzBzYfmLqwp1rdEOcPMcphfpAwgG35DWXAi1pfTIjq
			Qp0guxttUMTVQAyluB6iokqnKN8f0u399Fh8pg4PiwNJ9IUID+m1
			wWtzENJ8IWCsMpdsW7eiIwIwoMlv5aIcVgow4ovNUFNRgGJosAq3
			mQMcg375pbIDLOUfKc1ffMr8vw3zcjhCfI+vChRDwpKWREO5JgMV
			OampY2o1JpOK4v2Fgir8yTaCEpN7xN5FAYDrUhFt9mrkKS9Sjst7
			BTGHA693/B2h34+rwppNUX/VG9sGYYUaXElxwR/ltra5wDrEQtCl
			4tsMD8rXIxO6Fzm0tp1BAj435p6EpYLi74HIMf+xJ0E/Gud/FGIe
			W3SNUJayLfoLgh9EA9CX1fhRghWUULYA6pIdMdTm1mp97VXofW1V
			6iiKqYJ+x0VajwO7vBDud+HhC80INAT44AiiGuOF9IvYAlaSdfAJ
			0UoAy5AIQfLyvWzCbySzieN4+HNLHENoC/Ev//GPf6g3suCzpP/t
			mHmm28eWsV1O/6L9qiUu1EeSJgEy4+qKkQRt2ZUYOBfI5tyei3kI
			HkTrZgMrObT/8U++lQVfHXjx+cK/H7WrqtnoIrFh6T6hpwn0Q3Wq
			QKmlwKlVtQib440wkj7FJqKArGXLqnTlQeyV/vGPf/7zn/9QH786
			8Oz3zn9+BKbFDSgBBonIYF2JXgPoq6a6/AHlDjQCBg1uJpZNcmp9
			ISdLuSJXkeVKAOxACSAAfwJfHviDzN/G+jypsI/k/AjSl91PqmXO
			G0B3nU8FgXSn/sa3tUB0037hfJbN+gUQ8/+s2X8Qzn1vdybhGoBu
			mgNZKDQdKNZcXTZRC/iOWytO0qt6O1ksMg7hj+XXPnv22446YyEV
			EO+3u9AvgA5RiqgN4WQvwUp6iXxQlEhfb6nAT4o/VuR3njXZ/Z92
			8mPXOPecodt1YLutDqSBuifVtwK+53+9locpPgh3B+5y542CkCd9
			eP/tTzX5+dFYl8pYut8lqFtI6EZ6KTqQr/Uf/Vn9VfBvqZYBskxe
			1Qro/td/uPd7ceiR5u/pYdVEwm6mH2oF+yv5426kFmv4+aslCvI1
			+X//8de/fVrU5hAMRQFHAt1Gl4zvAz/qN85bfO1VRUOWaPh3rFbE
			0q/m/zTrd7E+/0OfBLqRNh/P23541xgOvVvs196ZvPnyy9fHdBv+
			ZBwUCbwqSDMJl54wHQL9rVrRgb1MyAt7+Wiv9+XrPyn2D8LDeUmF
			rgSqjWittFc3XCCLhkJtpWAvcOlzV+o79P53+th/ETyc/0FpYEvg
			WoFA2k8CH4beQtb101dfcclfjT7xcP571wzYSEJaLFAUdqWAAta1
			d+Es0Ite39HH/IuhfvuFxxOkqYC0W0OR+KAKXMXeWH3W9Ln0h/m/
			kO/3Y+XSMy0BRVAU/BIoCM1h4AqypWc1W5AvX1z9dOd8Pw8O3bY9
			wXEF4bwTNEsXfQtt+l/Nn/9Elzx8VqxfstPiR2gwzCrwhewAeH3r
			r975Lurnnumk4AmJiudwaMoOZKHalKb/R813fSocPIes4IqgeQip
			gXDLA73A4f7lV6//duwV1h9efeR1BluFfmjCLvRyGUZ/Pz/1mU91
			fF7Up6498nrDcBl8kBUPfD8vv8n+t0f94dz8c58p9EMR1ryJA9+/
			/mbq4O+8zPcvhVr94flrz144xjBQB+KH71/P3zp08E+Y4/sjsDhz
			8NjpW9eevZYHzXrw4sXr18+uXT1/6Ej9/yn1PexhD3vYwx72sIc9
			7GEPe9jDHvawhz3sYQ9/BYyM/B9DQf+8rdLEdQAAAABJRU5ErkJg
			gg==
			</data>
			<key>IsRemovable</key>
			<true/>
			<key>Label</key>
			<string>BIGLOBE</string>
			<key>PayloadDescription</key>
			<string>Adds a Web Clip.</string>
			<key>PayloadDisplayName</key>
			<string>Web Clip (BIGLOBE)</string>
			<key>PayloadIdentifier</key>
			<string>com.company.profile.webclip1</string>
			<key>PayloadOrganization</key>
			<string>BIGLOBE</string>
			<key>PayloadType</key>
			<string>com.apple.webClip.managed</string>
			<key>PayloadUUID</key>
			<string>0C7ED47F-98BC-4705-9E70-2682B9FC7F6E</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>Precomposed</key>
			<true/>
			<key>URL</key>
			<string>http://www.biglobe.ne.jp/a-top/?home=ios</string>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>BIGLOBEのショートカットをiPhoneのホーム画面に追加します。</string>
	<key>PayloadDisplayName</key>
	<string>BIGLOBE</string>
	<key>PayloadIdentifier</key>
	<string>com.company.profile</string>
	<key>PayloadOrganization</key>
	<string>BIGLOBE</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>AD1B6CDA-6B94-4755-AD7C-6928808555C6</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
